{config_load file="$language/lang_$language.conf" section="boxes"} 
{literal}
<script language="javascript"><!--

var submitter = null;
function clearText(thefield){
  if (thefield.defaultValue==thefield.value)
    thefield.value = ""
}
function submitFunction() {
    submitter = 1;
}
//--></script>
{/literal}
{$FORM_ACTION}
<div id="content">
<div class="content">
    <div id="boxesbox">
       <div id="boxestab">
        <ul>
          <li id="boxescurrent"><a href=" ">{#heading_search#}</a></li>
        </ul>
      </div>
      <div id="boxeswrap"><table>
  <tr>
    <td>{$INPUT_SEARCH}</td>
    <td class="btn_replace">{$BUTTON_SUBMIT}</td>
  </tr>
</table>
<p><a href="{$LINK_ADVANCED}">{#text_advanced_search#}</a></p>
</div>
</div>
</div>
</div>