{config_load file="$language/lang_$language.conf" section="boxes"} 

<div id="content">
<div class="content">
    <div id="boxesbox">
       <div id="boxestab">
        <ul>
          <li id="boxescurrent"><a href=" ">{#heading_login#}</a></li>
        </ul>
      </div>
      <div id="boxeswrap">{$FORM_ACTION}
      <table>
        <tr>
          <td colspan="2" class="boxText">{$TEXT_EMAIL}</td>
        </tr>
        <tr>
          <td colspan="2" class="boxText">{$FIELD_EMAIL}</td>
        </tr>
        <tr>
          <td colspan="2" class="boxText">{$TEXT_PWD}</td>
        </tr>
        <tr>
          <td class="boxText">{$FIELD_PWD}</td>
          <td class="boxText btn_replace">{$BUTTON}</td>
        </tr>
    </table>{$FORM_END}
    </div>
</div>
</div>
</div>