<div id="infocontent">
  <div class="infocontent">
    <div id="infobox">
       <div id="infotab">
        <ul>
          <li id="infocurrent"><a>{$CONTENT_HEADING}</a></li>
        </ul>
      </div>
     <div id="infowrap">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">
	{if $file}
	 {$file}
	{else}
	{$CONTENT_BODY}
	{/if}
	</td>
  </tr>
  <tr>
    <td><p><div class="btnreplace text-right">
        {$BUTTON_CONTINUE} </div></p></td>
  </tr>
</table>
</div>
</div>
</div>
</div>
