{config_load file="$language/lang_$language.conf" section="logoff"} 
<div id="infocontent">
  <div class="infocontent">
    <div id="infobox">
       <div id="infotab">
        <ul>
          <li id="infocurrent"><a>{#heading_logoff#}</a></li>
        </ul>
      </div>
     <div id="infowrap">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr> 
    <td><img src="{$tpl_path}img/checkout_success.gif"></td>
    <td class="main"valign="top"><h4>{#text_logoff#}</h4><br>
      <br>
	   <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><div class="Alink text-right"><br>
              {$BUTTON_CONTINUE}</div></td>
        </tr>
      </table></td>
  </tr>
</table>
</div>
</div>
</div>
</div>
