{config_load file="$language/lang_$language.conf" section="password_forgotten"} 
<div id="infocontent">
  <div class="infocontent">
    <div id="infobox">
       <div id="infotab">
        <ul>
          <li id="infocurrent"><a>{#heading_password#}</a></li>
        </ul>
      </div>
     <div id="infowrap">
  {$FORM_ACTION} {if $error}<br /> <div align="center"><font size="4"><p>{#text_error#}</p></font> 
  </div>{/if}
  <h4>{#text_email#}</h4>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">{$INPUT_EMAIL}</td>
    <td class="main"><div class="btn_replace text-right">{$BUTTON_SUBMIT}</div></td>
  </tr>
</table><br />
<p><div class="btnreplace text-right">{$BUTTON_BACK}</div></p>
</form>
</div>
</div>
</div>
</div>
